services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: unless-stopped
    container_name: n8n
    network_mode: host
    ports:
      - 5678:5678
    volumes:
      - ./n8n:/home/node/.n8n
    env_file: "n8n.env"

  db:
    image: mysql
    restart: unless-stopped
    container_name: db
    ports:
      - 3306:3306
    volumes:
      - ./db:/var/lib/mysql
    env_file: "db.env"
